 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre Nosotros</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        Bienvenido a nuestro cautivador zoológico, donde la diversidad de la vida salvaje se despliega ante tus ojos. Sumérgete en un mundo fascinante lleno de criaturas asombrosas, desde majestuosos leones hasta curiosos pingüinos. Nuestro compromiso con la conservación y el bienestar animal se refleja en instalaciones cuidadosamente diseñadas que buscan recrear hábitats naturales, brindando a nuestros visitantes una experiencia inigualable de cercanía con la fauna global. 
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                        En nuestro zoo, la diversión y el aprendizaje van de la mano. Ofrecemos experiencias educativas interactivas para todas las edades, desde emocionantes charlas sobre comportamiento animal hasta oportunidades prácticas de alimentación supervisada. Nuestro objetivo es inspirar la admiración por la naturaleza y fomentar la conciencia ambiental. Además, contamos con áreas de juego y eventos especiales diseñados para el disfrute de toda la familia.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Descargar Guia
                    </a>
                </div>
            </div>
        </div>
    </section>
